body{
    margin: 0;
    padding: 0;
}
section{
    height: 100vh;
    background: #000;
    overflow: hidden;
}

video{
    object-fit: cover;
    width: 100%;
}
h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 20em;
    font-family: "Bookman Old Style";
    text-transform: uppercase;
    opacity: 80%;
}
h1 span{
    display: inline-block;
    animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
    0%{
        opacity: 0.5;
        filter: blur(10px);
    }
    50%{
        opacity: 1;
        filter: blur(0);
    }
    100%{
        opacity: 0.5;
        filter: blur(10px);
    }
}